<g:form action="addNewRoleAdmission">
    <input type="hidden" id="instructorid" name="instructorid" value="${instructorid}"/>
    <br>
     <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div style="margin:20px;">
                             <br>
                             &nbsp;&nbsp;&nbsp;&nbsp; Role Type :
                             <br>
                             <br>
                             <g:select class="form-control" id="roletype" name="roletype" from="${rtypelist}"  optionKey="id" style="width:200px;" />
                            <center><g:submitToRemote url="[action: 'showfetchAdmission']" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-30 btn-primary" update="fetchrole" value="Fetch"/></center>
                            <br>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
     </div>


  </g:form>
<div id="fetchrole"></div>

