<g:form name="myForm">
    <g:hiddenField name="gr_no" value="${gr_no}" />
    <g:hiddenField name="ApplicationType" value="${ApplicationType}" />
        <br />
    <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-6 col-12">
                        <div class="card">
                            <div class="col-sm-3">
                                 <center><label >Module </label></center>
                                 <g:select id="RoleType" class="form-control"   name="RoleType"  from='${RoleType}' optionKey="id" optionValue="type_displayname"></g:select>
                            </div>
                             <center><g:submitToRemote url="[action: 'LearnerNewRole']" update="updateMe" value="Fetch" class="btn btn-primary"/></td></center>
                             <br>
                        </div>
                    </div>
                </div>
            </div>
    </div>


</g:form>
<div id="updateMe"></div>
<div id="updateMe2"></div>
