<g:form name="myForm">
         <div class="col-sm-3">
                 <center><label >Module </label></center>
                 <g:select id="RoleType" class="form-control"   name="RoleType"  from='${RoleType}' optionKey="id" optionValue="type" ></g:select>
         </div>
         <div class="col-sm-2">
            <label>
            <g:hiddenField name="learner_code" value="${params.code}" />&nbsp</label>
            <br>
            <g:submitToRemote url="[action: 'newrole']" update="updateMe" value="Fetch" class="btn btn-sm btn-success"/>
         </div>
</g:form>

<div id="updateMe"></div>
        <div id="updateMe2"></div>
