

<g:form >
<input type="hidden" id="instructorid" name="instructorid" value="${instructorid}">
<br>
        <table border="1">
            <tr>
            <th>Sr. No</th>
            <th>Role Type</th>
            <th>Role</th>
            <th>Action</th>
            </tr>
         <g:each in="${roles}" var="r1" status="i">
            <tr>
              <td>${i+1}</td>
              <td>${r1?.roletype?.type}</td>
              <td>${r1?.role}</td>
              <td><g:link action="deleteRoleAdmission" params="[instid:instructorid,id:r1.id]"  style="color: blue">Delete  </g:link></td>
            </tr>
         </g:each>
</table>
     </g:form>
