<g:select class="form-control"
id="programid" name="programid"
from="${programList}"
optionValue="${{it.name}}"
optionKey="id"
noSelection="['-1':'All']"
required="true"
style="width:400px;"
onchange="getDivision();"/>