   <g:form name="myForm" action="newaddedfield">

         <div class="col-sm-4">
         <br>
               <label>Role</label><br>
               <table border=1>
                 <tr><td><input type="checkbox" id="selectall" onClick="selectAll(this)" /></td>
                     <td><b>Select All</b></td>
                 </tr>
                 <br>

                   <g:each var="a" in="${RoleList}" >
                      <tr>
                        <td><input type="checkbox" name="Role" value="${a.id}" ></td>
                        <td><label>${a.role}</label></td>
                      </tr>
                   </g:each>

               </table>
         </div>
         <div class="col-sm-2">
            <label>
            <input type="hidden" name="RoleType" value="${RoleType}">
            <g:hiddenField name="learner_code" value="${params.code}" />
            &nbsp</label>
            <br>
            <g:submitButton id="submitButton" class="btn btn-sm btn-success" name="Update" value="Save" />
         </div>
   </g:form>


