<g:if test="${code}">
<table border=2 id="abcd" class=" col-sm-12 table table-striped table-bordered">
        <br>
    <thead>
       <th>Sr. no</th>
       <th>Role</th>
       <th>Module</th>
       <th>Action</th>
    </thead>
          <tbody>
            <g:set var="x" value="${1}"/>
          <g:each var="r" in="${rolelist}" >
               <tr>
                <td>${x}</td>
                <td>${r.role}</td>
                <td>${r.roletype.type}</td>
                <td><g:link controller="RoleLinks" action="deletefield" id="${r.id}" style="color: blue">Delete</g:link></td>

                </tr>
           <g:set var="x" value="${x+1}"/>
           </g:each>
          </tbody>
   </table>
<br>

         <div class="form-row" style="text-align: center" >
         <g:submitButton class="btn btn-sm btn-primary" name="Add New Roles" value="Add New Roles" onclick="funconcall()" />
         </div>

</g:if>
