<g:if test="${size}">

            <label for="pwd">Department:</label>
            <span style="color:red; font-size: 16px">*</span>
            <g:select name="departmentId" optionKey="id" optionValue="name" from="${departmentList}" style="width: 100% !important;"  class="form-control select2"  required="true"  noSelection="['null':'Select Department']"/><br>

</g:if>
<g:else>
<br>


</g:else>

