<div class="form-group">
 <label for="pwd">Cost Per Unit</label>
 <input type="text" class="form-control" name="materialParts" required="true" value="${materialPartList?.name}" disabled optionKey="id">

</div>