<style>
 .erphome{
    float: left;
    margin-right:600px;
    }
 .backbtn{
 float: right;
 }

</style>
<!--
<g:link  controller="Login" action="erphome" style="left:250px;" class="erphome btn btn-sm btn-warning" ></g:link>
<span class="glyphicon glyphicon-home"></span>&nbsp;Home

<button  style="" class="backbtn btn btn-sm btn-warning" onclick="history.back(-1)">
   <span class="glyphicon glyphicon-triangle-left"> </span> Go Back
</button>
-->
<!--
<g:link controller="Login" action="erphome" style="text-decoration: underline;border: none;position: absolute; left:250px" class="btn btn-sm btn-warning" >
<span class="glyphicon glyphicon-home"> </span>&nbsp;Home</g:link>
<button style="text-decoration: underline;border: none;position: absolute; right: 0" class="btn btn-sm btn-warning" onclick="history.back(-1)"><span class="glyphicon glyphicon-triangle-left"> </span>Go Back</button>
-->

<g:link controller="Login" action="erphome" style="text-decoration: underline;border: none;background:orange;color:#fff;position: absolute; left:250px" class="btn btn-sm btn-default" ><span class="glyphicon glyphicon-home"> </span>&nbsp;Home</g:link>
<button style="text-decoration: underline;border: none;position: absolute; right: 0;background:orange;color:#fff;" class="btn btn-sm btn-default" onclick="history.back(-1)"><span class="glyphicon glyphicon-triangle-left"> </span>Go Back</button>
