<head>
    <meta name="layout" content="ERPmainTemplateT2">
</head>

<!-- Page Content  Copy Coding use Only-------------------------------------->
<div id="page-wrapper">
    <div class="container-fluid">
        <g:render template="/layouts/home_back_btn_T2"/>

        <div class="row">
            <div class="col-lg-12">

                <h3 class="page-header" style="text-align: center;">Create Template</h3>

                 <!-- Start coding only in This block ------------------->


            </div>
            <!-- /.col-lg-12 -->
        </div> <!-- /.row -->


    </div> <!-- /.container-fluid -->


</div>
<!-- /#page-wrapper  Page Content  Copy Coding use Only------------------------------------- -->