.full-scroll-table {
    width : fit-content !important;
}
 @media screen and (max-width:1025px){
     .mobile-table-responsive{
      overflow-y: scroll;
     }
 }
.background-color-sidebar {
    background:#454fb7 !important;
}
.erp-error-text {
    color:red;
    font-size : 20px;
}
.erp-error-text-small {
    color:red;
    font-size : 14px;
}
.erp-text-center {
    text-align : center;
}
.erp-custome-button {
    background : #FFB656;
    color : #FFFFFF;
    font-weight:bold;
}
.erp-custome-button:hover {
    background : #F9D89A;
    color : #000000;
    font-weight:bold;
}
.erp-table-header {
    color:purple !important;
    font-size:14px !important;
}
.erp-info-text-label {
    font-size:12px;
}
.erp-info-text-value {
    font-size:14px;
    font-weight:500;
    color:blue;
}
.erp-inside-table-icon {
    color:green;
    font-size:20px;
}
.erp-link {
    text-decoration:none;
    color : blue;
}
.erp-link:hover {
    text-decoration:none;
    color : blue;
}
.erp-info-message {
    padding:10px;
}
.erp-padding-10 {
    padding : 10px;
}
.rounded-img {
    border-radius: 50%;
    height: 35px;
    width : 35px;
}
.rounded-img-sidebar {
    border-radius: 50%;
    height: 75px;
    width : 75px;
    border: 1px solid grey;
}
.erp-mandatory-mark {
    color:red;
    font-size:14px;
}
.erp-full-width {
    width:100%;
}
.erp-delete-icon-color {
    color:red;
}
.erp-edit-icon-color {
    color:green;
}
/* ---- OR --- CSS -> */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color:#CACACA;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #CACACA;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}
.table-content-test-wrap{
    white-space: normal !important;
}