 <div class="form-group" id="roledivid">
    <label for="pwd">Material Set:</label><br>
    <g:field type="text" name="invmaterialset" readonly="readonly" style="width: 100% !important;"  value="${invMaterialSet}"/>
</div>