<label for="pwd">Invoice Number: </label>
<span style="color:red; font-size: 16px">*</span>
<g:select name="invoice" id="invoice"  from="${invoiceList?.invoice_number}"
class="form-control select2"
optionValue="${invoice_number}"
noSelection="['null':'Please Select Invoice']"
onchange="getValuesByInvoice()"
required="true"
/><br>

