<g:select id="MaterialPart" name="materialPart" value="${{it?.id}}" style="width:100%!important;" optionKey="${{it?.id}}" optionValue="${{it?.name}}" from="${materialPartList}" class="select2" required="true" noSelection="['null':'Select Material Part']"/>