<label for="pwd">Room Number:</label>
<g:select name="room" id="room"  from="${invRoom?.number}"
style="width: 65% !important;"  class="select2"
optionValue="${room}"
noSelection="['null':'Please Select Room Number']"
/>