<div class="form-group row">
<label class="col-form-label">Reciept List:</label>
<g:select id="reciept" name="reciept" style="width:90%!important;" optionValue="${{it?.receipt_no}}" from="${recieptsList}" optionKey="id" class="select2" required="true" noSelection="['null':'Select Reciept']"
onChange="getMaterialByReciept()"/>
</div>