<g:select id="RoomNumber" name="roomNumber" value="${{it?.id}}" optionKey="${{it?.id}}" optionValue="${{it?.name+":"+it.number}}" from="${invRoomList}" class="form-control select2" required="true" noSelection="['null':'Select Room Number']"/>