<label>Room No:</label>
<span style="color:red; font-size: 16px">*</span>
<g:select id="InventoryRoom" name="inventoryRoom"  optionKey="${{it?.id}}" optionValue="${{it?.name+":"+it.number}}" from="${invRoomList}" class="form-control select2" required="true" noSelection="['null':'Select Room Number']" required="true"/>
