<label  for="poNo">Purchase Order:</label>
<span style="color:red; font-size: 16px">*</span>
<g:select name="poNo" id="poNo"  from="${invPOList?.pon}"
  class="form-control select2"
optionValue="${poNo}"
noSelection="['null':'Please Select Purchase Order']" onchange="call()"
  />


