<label  for="vendor">Vendor</label>
<span style="color:red; font-size: 16px">*</span>
<g:field  id="vendor" name="vendor" readonly="readonly"   class="form-control" value="${invVendor?.company_name}" />