
    /* --------------Course Instructor Landing Page header nav,sidebar  and fa icon ----------------------*/
    .navbar-light .navbar-nav .nav-link {
        color: white;
        cursor:pointer;
    }
     .nav-link-text{
       	/*color: #3F51B5;*/
       	color: black;
       /*	border-bottom:1px blue solid;*/
        font-size: 1em;
       }
       .nav-link span:hover{
       	color: blue;
       	border-bottom:2px #C51162 solid;
       }
       ul .sidenav-second-level li a{
       	background-color: white;
       	color: black;
       }
       .fa{
       	color:#673AB7; /* */
       }
       .fa.fa-bars{
            color: white;
            }
       .user-profile-cursor {
       	cursor: pointer;
       	color: blue;

       }
      .navbar-brand {color:white;font-weight:bold;font-style: italic; }
      .bg-light{
      /*background: linear-gradient(141deg, #0288D1 0%, #0277BD 51%, #01579B 75%);
      background: linear-gradient(141deg, #36b157 0%, #36b157 51%, #36b157 75%);
      background: linear-gradient(141deg, #de383a 0%, #de383a 51%, #de383a 75%);
       background: linear-gradient(141deg, #EF5350 0%, #EF5350 51%, #EF5350 75%);*/
       background: linear-gradient(141deg, #36b157 0%, #36b157 51%, #36b157 75%);
      }

    /* --------------Course Instructor TimeLine CSS ----------------------*/

    .timeline {
        position: relative;
        margin: 0 auto;

    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
          position: absolute;
          width: 4px;
          background-color: blue;
          top: 0;
          bottom: 0;
          left: 50%;
          margin-left: -2px;
    }
/* box around content */
.box {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.box::after {
  content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 18px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}
/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid green;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent blue;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid red;
  border-width: 10px 10px 10px 0;
  border-color: transparent blue transparent transparent;
}
/* Fix the circle for containers on the right side */
.right::after {
  left: -0px;
}

/* The actual content */
.content {
  padding: 2px 5px;
  background-color: #E0F7FA;
  position: relative;
  border-radius: 6px;
  border: 1px dashed ;
  font-size : 14px;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .box {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .box::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent red transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 30px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

    /* --------------------------End of course Instructor Timeline css ---------------*/