<!DOCTYPE html>
<html lang="en">
<head>
  <title>FAQ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
     <asset:stylesheet href="bootstrap4.min.css" />
     <asset:stylesheet href="bootstrap.css" />


       <asset:javascript src="jquery.js"/>
       <asset:javascript src="jquery-ui.js" />
       <asset:javascript src="bootstrap.js"/>
       <style>
            .jumbotron{
             background-color: white;
             border: 0px solid #de383a;
             box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
             transition: 0.3s;
             border-radius: 1px;
            }
            .jumbotron:hover{
                box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
              }
          p,i{

           font-size: 3em;
           text-align: center;
           color: white;

          }
          i{

            font-size: 5em;
          }
       </style>
</head>
<body>

<div class="jumbotron">
<p><i class="glyphicon glyphicon-warning-sign" style="color: #de383a"></i><p>
    <p style="color: #de383a">
     This page is under construction
   <p>
</div>

</body>
</html>

