<html>

      <body>

<center><h4> Testing AWS file/image read page</h4></center>
<br>

<img src="${temp}"></img>
<br>
<br>
<br>
<br>
<br>
<a href="${temp2}" target="_blank" >Test</a>



</body>
</html>