<label>Purchase Order:<span style="color:red; font-size: 16px">*</span> </label>

<g:select name="poNo" id="poNo" from="${invPOList}"
class="form-control select2"
optionValue="${{it.pon}}" optionKey="id"
noSelection="['null':'Please Select Purchase Order']" onchange="callme()"
/><br>

